<div class="container">
  <div class="container-header">
    <img *ngIf="14 > 15" src="assets/sunset-hammock-relaxation-bali-asia-indonesia-sun-water-concerns-relax-rock-cozy-rest-heat-nice-weather-evening-sky-clouds-weather-warm-beautiful-romantic-lighting-mood-light-fa" alt="hot"/>
    <img *ngIf="14 <= 15" src="assets/txz0bM-1358079906" alt="cold"/>
    <div class="weather-data">
      <div class="location">Kranj</div>
      <div class="temperature">{{ 14.40 | number: '1.0-0'}}°C</div>
    </div>
  </div>
  <div class="container-body">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">

      <div class="info-block">
        <div class="info-block-label">
          <img src="assets/2682809_cold_freezing_low_temperature_termometer_icon.png" alt="cold icon">
          <span>min</span>
        </div>
        <div class="info-block-value">
          10°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="assets/2682808_high_hot_summer_temperature_termometer_icon.png" alt="hot icon">
          <span>max</span>
        </div>
        <div class="info-block-value">
          22°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="assets/2682807_drop_high_humidity_percentage_precipitation_icon.png" alt="cold icon">
          <span>77%</span>
        </div>
        <div class="info-block-value">
          10°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="assets/2682842_breeze_fast_speed_weather_wind_icon.png" alt="cold icon">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          11 km/h
        </div>
      </div>

    </div>

  </div>
</div>
<router-outlet></router-outlet>
